includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - tests/Fixtures/PHPStan/ModelWithMorphToManySoftDeletesTrait.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
